.sidebar {
  width: 100px;
  height: 100vh;
  border: 1px solid black;
  float: left;
  margin: 10px;
}

#logo {
  width: 100px;
}

.topbar {
  text-align: right;

}

.topbar li{
  display: inline-block;
}

.main {
  float: left;
  width: 1000px;
}

h3 {
  border: 1px solid black;
}
